:root {
  --primary-color: #157145;
  --secondary-color: #9BD1E5;
  --white: #FAFAFA;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.accueil {
  display: flex;
  min-height: 100vh;
}

/* Menu latéral */
.menu-1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 1001;
}

.logo-1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}


.menu-1 li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.menu-1 li a, .help a, .logout a , .name a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-1 li a img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.menu-1 li a span {
  flex: 1;
}

.menu-1 li.active {
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.menu-1 li.active a {
  color: inherit;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

nav ul li img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

nav ul li.active {
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.footer {
  margin-top: auto;
}

.footer > div, .footer > button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--white);
}

.footer img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.subscription {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  color: var(--black);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
}

/* Contenu principal */
.cours {
  margin-left: 300px;
  flex: 1;
  padding: 2rem;
  padding-bottom: 150px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cours-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.cours-info, .discussions {
  display: flex;
  align-items: center;
  background-color: #57A773;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  color: var(--white);
  height: 50px;
  box-sizing: border-box;
}

.cours-info img, .discussions img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}
.profile {
  display: flex;
  align-items: center;
  background-color: #57A773;
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.profile-info {
  color: var(--white);
}



.name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
}

#file-info {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
}

#remove-file {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.chat-container {
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 0;
  background-color: var(--white);
  border-radius: 24px 24px 0 0;
  padding: 1rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chat-message {
  display: flex;
  margin-bottom: 1rem;
}

.contain {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.message-content {
  background-color: var(--secondary-color);
  border-radius: 24px;
  padding: 1rem;
  text-align: center;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.suggestion-item {
  width: 48%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 0.5rem;
  color: var(--black);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background-color: #8bc0d4;
}

.suggestion-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.suggestion-icon img {
  width: 20px;
  height: 20px;
}

.suggestion-text {
  flex: 1;
  text-align: left;
}

.chat-bottom {
  width: 100%;
}

.chat-form {
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 2px;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 1rem;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.chat-input {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  resize: none;
  overflow-y: auto;
}

.plus-button,
.upload-button,
.send-button,
.mic-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.plus-button img,
.upload-button img,
.send-button img,
.mic-button img {
  width: 24px;
  height: 24px;
}

textarea{ 
  margin:5px auto;
  display:block;
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 24px;
  padding: 1rem 1rem;
  width: 100%;
  resize: none;
}

.discussions.nav {
  position: relative;
  height: 50px;
  padding: 0;
  background-color: #57A773;
  border-radius: 24px;
}

.discussions.nav,
.discussions.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.discussions.nav li {
  display: block;
  float: left;
  clear: both;
}

.discussions.nav > li {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.discussions.nav > li:hover {
  background-color: #4a8f61;
  border-radius: 24px;
}

.discussions.nav > li .num {
  position: absolute;
  display: block;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.discussions.nav > li > ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  width: 350px;
  border: 1px solid #ccc;
  margin-top: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.discussions.nav > li:hover > ul {
  display: block;
}

.discussions.nav > li > ul > li {
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #ccc;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: none;
  clear: both;
}

.discussions.nav > li > ul > li.title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 8px 15px;
  background-color: #f0f0f0;
}

.discussions.nav > li > ul > li.footer {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background-color: #f0f0f0;
  text-align: center;
  padding: 8px;
}

.discussions.nav > li > ul > li:first-child {
  border-top: 0;
}

.discussions.nav > li > ul > li:last-child {
  border-bottom: 0;
}

.discussions.nav > li > ul > li a {
  display: block;
  color: #333;
  flex-grow: 1;
  text-decoration: none;
  padding: 5px 0;
}

.discussions.nav > li > ul > li:hover a {
  color: #57A773;
}

.discussions.nav .delete-btn .add-btn{
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
  width: auto;
  height: auto;
}


.discussions.nav .delete-btn i .add-btn i{
  font-size: 16px;
}

.discussions.nav .delete-btn:hover i {
  color: #f44336;
}

.discussions.nav .ad-btn:hover i {
  color: var(--primary-color);
}

.discussions-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.discussions-button img {
  width: 24px;
  height: 24px;
}

.chat-thread {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
  padding: 0;
}

.chat-thread li {
  padding: 0.75em;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.chat-thread li:not(.bot-message) {
  align-self: flex-end;
  background-color: var(--secondary-color);
  color: var(--black);
}

.chat-thread .bot-message {
  align-self: flex-start;
  background-color: var(--secondary-color);
  color: var(--black);
  align-items: center;
}

.bot-message ul,
.bot-message ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}


.button-group {
  display: inline-block;
  margin-left: 10px;
}

.button-group button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.button-group button:hover {
  opacity: 0.7;
}

/* Media Queries */
@media (max-width: 1024px) {
  .menu-1 {
    width: 100%;
    height: auto;
    position: static;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: none;
  }

  .cours {
    margin-left: 0;
    padding-top: 150px;
  }

  .chat-container {
    left: 0;
  }
}

@media (max-width: 768px) {
  .cours-header {
    flex-direction: column;
    align-items: stretch;
  }

  .cours-info, .discussions, .profile {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .cours {
    padding: 1rem;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .chat-message {
    flex-direction: column;
  }

  .avatar {
    margin-bottom: 0.5rem;
  }
}