:root {
  --primary-color: #157145;
  --secondary-color: #9BD1E5;
  --white: #FAFAFA;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.accueil {
  display: flex;
  min-height: 100vh;
}

/* Menu latéral */
.menu-1 {
  background-color: var(--primary-color);
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-1 li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.menu-1 li a, .help a, .logout a, .name a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-1 li a img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.menu-1 li a span {
  flex: 1;
}

.menu-1 li.active {
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.menu-1 li.active a {
  color: inherit;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

nav ul li img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

nav ul li.active {
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.footer {
  margin-top: auto;
}

.footer > div, .footer > button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--white);
}

.footer img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.subscription {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  color: var(--black); /* Texte en noir */
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  font-weight: bold; /* Pour une meilleure lisibilité */
}
/* Contenu principal */
.tableau-de-bord {
  flex: 1;
  padding: 2rem;
  background-color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.search-bar input {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: var(--black);
  margin-right: 1rem;
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.profile {
  display: flex;
  align-items: center;
  background-color: #57A773;
  border-radius: 24px;
  padding: 0.5rem 1rem;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-info {
  color: var(--white);
}

.name {
  font-weight: 700;
  font-size: 1.2rem;
}

.parametre .frame-49 {
  border-radius: 10px;
  border: 1px solid var(--primaire, #157145);
  background: var(--secondaire-variation-1, #9BD1E5);
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  padding: 29px 0 41px 15.3px;
  width: fit-content;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .accueil {
    flex-direction: column;
  }

  .menu-1 {
    width: 100%;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar, .profile {
    margin-bottom: 1rem;
  }

}
.parameters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 2em;
}

.current-subscription-frame {
  border-radius: 10px;
  border: 1px solid var(--primary, #157145);
  background: var(--secondary-variation-1, #9BD1E5);
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  padding: 29px 15px 41px 15px;
  width: 100vh;
  box-sizing: border-box;
}

.current-subscription-title {
  margin: 0 0.2px 36px 0.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}

.current-subscription-plan {
  overflow-wrap: break-word;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 25px;
  color: var(--white);
}

.current-subscription-info {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.current-subscription-end-date {
  color: var(--primary-color);
}

.new-discussion-button {
  border-radius: 10px;
  background: var(--primary-color);
  display: flex;
  align-self: flex-start;
  padding: 7px 0;
  width: 245px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  justify-content: center;
}

@media (max-width: 768px) {
  .current-subscription-frame {
    width: 100%;
    padding: 20px 10px;
  }

  .current-subscription-title, .current-subscription-plan {
    font-size: 20px;
  }

  .new-discussion-button {
    width: 100%;
  }
}