{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/chat-bot.svg' %}" type="image/x-icon"/>
    <title>Compte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/compte.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    <div class="accueil">
        <aside class="menu-1">
            <a href="{% url 'cours' %}">
              <div class="logo-1">
                  <img src="{% static 'images/Logo.svg' %}" alt="logo">
              </div>
           </a>
            <nav>
              <ul>
                  <li >
                    <a href="{% url 'cours' %}">
                      <img src="{% static 'vectors/dashbord_1.svg' %}" alt="Tableau de bord icon">
                      <span>Tableau de bord</span>
                    </a>
                  </li>
                  <li >
                    <a href="{% url 'chatbot' 'maths' %}">
                      <img src="{% static 'vectors/cours.svg' %}" alt="Cours icon">
                      <span>Cours</span>
                    </a>
                  </li>
                  <li class="active">
                      <a href="{% url 'compte' %}">
                        <img src="{% static 'vectors/compte_1.svg' %}" alt="Mon compte icon">
                        <span>Mon compte</span>
                      </a>
                  </li>
                  <li>
                    <a href="{% url 'parametre' %}">
                      <img src="{% static 'vectors/parametre.svg' %}" alt="Paramètres icon">
                      <span>Paramètres</span>
                    </a>
                  </li>
              </ul>
          </nav>
          <div class="footer">
              <div class="help">
                  <img src="{% static 'vectors/help.svg' %}" alt="Aide icon">
                  <span><a href="https://wa.me/22677534419">Besoin d'aide</a></span>
              </div>
              <button class="subscription" onclick="location.href=''">Changer d'abonnement</button>
              <div class="logout">
                  <img src="{% static 'vectors/logout.svg' %}" alt="Déconnexion icon">
                  <span><a href="{% url 'logout' %}">Se déconnecter</a></span>
              </div>
          </div>
        </aside>
        <main class="tableau-de-bord">
            <header>
                <div class="search-bar">
                    <input type="text" placeholder="Rechercher les matières">
                    <img src="{% static 'vectors/search.svg' %}" alt="Search icon">
                </div>
                <div class="profile">
                  <a href="{% url 'compte' %}">
                    <div>
                      <img class="profile-pic" src="https://avatar.iran.liara.run/username?username={{user.first_name}}+{{user.last_name}}"/>
                    </div>
                  </a>
                  <div class="profile-info">
                    <div class="name">
                        <span>{{ user.first_name }}</span>
                    </div>
                    <div class="grade">{{ user.profile.niveau }}</div>
                  </div>
                </div>
            </header>
            <h2>Informations personnelles</h2>
            <form method="post" action="{% url 'info' %}">
              {% csrf_token %}
              <div class="details">
                  <div class="item">
                      <div class="label">Numéro de téléphone</div>
                      <div class="value">
                          <input type="tel" name="telephone" value="{{ user.profile.telephone }}">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Adresse mail</div>
                      <div class="value">
                          <input type="email" value="{{ user.email }}" readonly class="readonly-field">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Nom</div>
                      <div class="value">
                          <input type="text" name="last_name" value="{{ user.last_name }}">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Prénom(s)</div>
                      <div class="value">
                          <input type="text" name="first_name" value="{{ user.first_name }}">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Date de naissance</div>
                      <div class="value">
                          <input type="date" name="date_naissance" value="{{ user.profile.date_naissance|date:'Y-m-d' }}">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Niveau</div>
                      <div class="value">
                          <input type="text" value="{{ user.profile.get_niveau_display }}" readonly class="readonly-field">
                      </div>
                  </div>
                  <div class="item">
                      <div class="label">Ville</div>
                      <div class="value">
                          <input type="text" name="ville" value="{{ user.profile.ville }}">
                      </div>
                  </div>
              </div>
              <div class="save-container">
                  <button type="submit" class="save">
                      <img src="{% static 'vectors/save.svg' %}" alt="Save icon">
                      <span class="save-text">Enregistrer les modifications</span>
                  </button>
              </div>
          </form>
        </main>
    </div>
    <script src="{% static 'js/load.js' %}"></script>
</body>
</html>