{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/chat-bot.svg' %}" type="image/x-icon"/>
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    <div class="accueil">
        <aside class="menu-1">
            <div class="logo-1">
                <img src="{% static 'images/Logo.svg' %}" alt="logo">
            </div>
            <nav>
                <ul>
                    <li class="active">
                        <a href="{% url 'cours' %}">
                            <img src="{% static 'vectors/dashbord.svg' %}" alt="Tableau de bord icon">
                            <span>Tableau de bord</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'chatbot' 'maths' %}">
                            <img src="{% static 'vectors/cours.svg' %}" alt="Cours icon">
                            <span>Cours</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'compte' %}">
                            <img src="{% static 'vectors/compte.svg' %}" alt="Mon compte icon">
                            <span>Mon compte</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'parametre' %}">
                            <img src="{% static 'vectors/parametre.svg' %}" alt="Paramètres icon">
                            <span>Paramètres</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="footer">
                <div class="help">
                    <img src="{% static 'vectors/help.svg' %}" alt="Aide icon">
                    <span><a href="">Besoin d'aide</a></span>
                </div>
                <button class="subscription" onclick="location.href=''">Changer d'abonnement</button>
                <div class="logout">
                    <img src="{% static 'vectors/logout.svg' %}" alt="Déconnexion icon">
                    <span><a href="{% url 'logout' %}">Se déconnecter</a></span>
                </div>
            </div>
        </aside>
        <main class="tableau-de-bord">
            <header>
                <div class="search-bar">
                    <input type="text" placeholder="Rechercher les matières">
                    <img src="{% static 'vectors/search.svg' %}" alt="Search icon">
                </div>
                <div class="profile">
                    <div class="profile-pic"></div>
                    <div class="profile-info">
                        <div class="name"> 
                            <a href="{% url 'compte' %}">
                                <span >{{ user.first_name }}</span>
                            </a>
                        </div>
                        <div class="grade">{{ user.profile.niveau }}</div>
                    </div>
                </div>
            </header>
            <section class="welcome" style="width: 50vh;">
                <img src="{% static 'vectors/robot.svg' %}" alt="Welcome illustration"></img>
                <p>Ravi de te revoir <span
                    >{{ user.first_name }}</span><br>On commence par quelle matière ?</p>
            </section>
            <section class="subjects">
                <a href="{% url 'chatbot' 'maths' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">MATHS {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/maths.svg' %}" alt="Maths illustration">
                </a>
                <a href="{% url 'chatbot' 'francais' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">FRANCAIS {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/français.svg' %}" alt="Français illustration">
                </a>
                <a href="{% url 'chatbot' 'svt' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">SVT {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/svt.svg' %}" alt="SVT illustration">
                </a>
                <a href="{% url 'chatbot' 'physique-chimie' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">PC {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/pc.svg' %}" alt="Physique-Chimie illustration">
                </a>
                <a href="{% url 'chatbot' 'anglais' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">ANGLAIS {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/anglais.svg' %}" alt="Anglais illustration">
                </a>
                <a href="{% url 'chatbot' 'histoire-geographie' %}" class="subject-card">
                    <div class="subject-info">
                        <span class="subject-name">HG {{ user.profile.niveau }}</span>
                    </div>
                    <img src="{% static 'vectors/hg.svg' %}" alt="Histoire-Géographie illustration">
                </a>
            </section>
        </main>
    </div>
    <script src="{% static 'js/load.js' %}"></script>
</body>
</html>
