{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/chat-bot.svg' %}" type="image/x-icon"/>
    <title>Learny - Inscription et Connexion</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <!-- Formulaire de connexion -->
                <form method="post" action="{% url 'home' %}" class="sign-in-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="login">
                    <h2 class="title">Connexion à Learny</h2>
                    {% if login_error %}
                        <p class="error">{{ login_error }}</p>
                    {% endif %}
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" name="email" placeholder="Adresse email" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Mot de passe" required>
                    </div>
                    <input type="submit" value="Se connecter" class="btn solid">
                    <p class="social-text">Ou connectez-vous avec les réseaux sociaux</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>

                <!-- Formulaire d'inscription -->
                <form method="post" action="{% url 'home' %}" class="sign-up-form" id="signupForm">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="register">
                    <h2 class="title">Inscription à Learny</h2>
                    {% if register_error %}
                        <p class="error">{{ register_error }}</p>
                    {% endif %}
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Nom" name="nom" required 
                               pattern="[A-Za-zÀ-ÿ\s]{2,50}" 
                               title="Le nom doit contenir entre 2 et 50 caractères alphabétiques">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Prénom(s)" name="prenom" required 
                               pattern="[A-Za-zÀ-ÿ\s]{2,50}" 
                               title="Le prénom doit contenir entre 2 et 50 caractères alphabétiques">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Adresse mail" name="email" required 
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                               title="Veuillez entrer une adresse e-mail valide">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-phone"></i>
                        <input type="tel" placeholder="Numéro de téléphone" name="telephone" required 
                               pattern="(\+226|00226)?[0-9]{8}" 
                               title="Veuillez entrer un numéro de téléphone valide (8 chiffres, avec ou sans l'indicatif +226)">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-calendar"></i>
                        <input type="date" placeholder="Date de naissance" name="date_naissance" required 
                               max="2011-12-31" min="2000-01-01">
                    </div>
                    <div class="input-field">
                      <i class="fas fa-venus-mars"></i>
                      <select name="genre" required>
                        <option value="" disabled selected>Sélectionnez votre genre</option>
                        <option value="masculin">Masculin</option>
                        <option value="feminin">Féminin</option>
                      </select>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-graduation-cap"></i>
                        <select name="niveau" required>
                            <option value="" disabled selected>Choisissez votre niveau</option>
                            <option value="6eme">6ème</option>
                            <option value="5eme">5ème</option>
                            <option value="4eme">4ème</option>
                            <option value="3eme">3ème</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-city"></i>
                        <input type="text" placeholder="Ville" name="ville" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Mot de passe" name="password" id="password" required 
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                               title="Le mot de passe doit contenir au moins 8 caractères, incluant une majuscule, une minuscule et un chiffre">
                    </div>
                    <input type="submit" class="btn" value="S'inscrire">
                    <p class="social-text">Ou inscrivez-vous avec les réseaux sociaux</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Nouveau sur Learny ?</h3>
                    <p>
                        Inscrivez-vous pour accéder à tous nos services d'apprentissage interactif et rejoindre notre communauté d'élèves motivés !
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        S'inscrire
                    </button>
                </div>
                <img src="{% static 'vectors/learny-logo.svg' %}" class="image" alt="Image de connexion">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Déjà membre de Learny ?</h3>
                    <p>
                        Connectez-vous pour accéder à votre espace personnel et continuer votre parcours d'apprentissage !
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Se connecter
                    </button>
                </div>
                <img src="{% static 'vectors/learny-logo.svg' %}" class="image" alt="Image d'inscription">
            </div>
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/load_home.js' %}"></script>
</body>
</html>