{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/chat-bot.svg' %}" type="image/x-icon"/>
    <title>Compte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/parametre.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    <div class="accueil">
        <aside class="menu-1">
              <a href="{% url 'cours' %}">
                <div class="logo-1">
                    <img src="{% static 'images/Logo.svg' %}" alt="logo">
                </div>
            </a>
            <nav>
              <ul>
                  <li >
                    <a href="{% url 'cours' %}">
                      <img src="{% static 'vectors/dashbord_1.svg' %}" alt="Tableau de bord icon">
                      <span>Tableau de bord</span>
                    </a>
                  </li>
                  <li >
                    <a href="{% url 'chatbot' 'maths' %}">
                      <img src="{% static 'vectors/cours.svg' %}" alt="Cours icon">
                      <span>Cours</span>
                    </a>
                  </li>
                  <li>
                      <a href="{% url 'compte' %}">
                        <img src="{% static 'vectors/compte.svg' %}" alt="Mon compte icon">
                        <span>Mon compte</span>
                      </a>
                  </li>
                  <li class="active">
                    <a href="{% url 'parametre' %}">
                      <img src="{% static 'vectors/parametre_1.svg' %}" alt="Paramètres icon">
                      <span>Paramètres</span>
                    </a>
                  </li>
              </ul>
          </nav>
          <div class="footer">
              <div class="help">
                  <img src="{% static 'vectors/help.svg' %}" alt="Aide icon">
                  <span><a href="https://wa.me/22677534419">Besoin d'aide</a></span>
              </div>
              <button class="subscription" onclick="location.href=''">Changer d'abonnement</button>
              <div class="logout">
                  <img src="{% static 'vectors/logout.svg' %}" alt="Déconnexion icon">
                  <span><a href="{% url 'logout' %}">Se déconnecter</a></span>
              </div>
          </div>
        </aside>
        <main class="tableau-de-bord">
            <header>
                <div class="search-bar">
                    <input type="text" placeholder="Rechercher les matières">
                    <img src="{% static 'vectors/search.svg' %}" alt="Search icon">
                </div>
                <div class="profile">
                  <a href="{% url 'compte' %}">
                    <div>
                      <img class="profile-pic" src="https://avatar.iran.liara.run/username?username={{user.first_name}}+{{user.last_name}}"/>
                    </div>
                  </a>
                  <div class="profile-info">
                    <div class="name">
                        <span>{{ user.first_name }}</span>
                    </div>
                    <div class="grade">{{ user.profile.niveau }}</div>
                  </div>
                </div>
            </header>
            <h2>Paramètres</h2>
            <div class="parameters-section">
              <div class="current-subscription-frame">
                <div class="current-subscription-title">ABONNEMENT EN COURS</div>
                <div class="current-subscription-plan">Freemium</div>
                <p class="current-subscription-info">
                  <span class="current-subscription-info-text">Vous êtes actuellement en période d’essai. Date de fin : </span><span class="current-subscription-end-date">17 septembre 2024</span></span>
                </p>
              </div>
              <div class="current-subscription-frame">
                <div class="current-subscription-title">changer d’abonnement</div>
                <div class="new-discussion-button">
                    Changer d'abonnement
                </div>
              </div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/load.js' %}"></script>
</body>
</html>

